main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.right {
  display: none;
  flex-direction: column;
  margin: 20px;
}
.right-changed {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h2 {
  color: red;
}

input {
  width: 8rem;
  font-size: 20px;
}

.number-input {
  margin: 5px;
  padding: 2px;
  border-radius: 5rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.res-span {
  font-size: 50px;
  border: 2px solid green;
  margin: 2px;
}

.black-pts {
  font-size: 50px;
  background-color: black;
  color: white;
}

.white-pts {
  font-size: 50px;
}
